*{
    box-sizing: border-box;
}
.App{
    border: 2px solid #ffffff;
    height: 100%;
    background-color: #ffffff;
 } 
.blackheader{height: 40px; background-color: rgb(255, 217, 0);display: flex;align-items: center;
    justify-content: center;color: #000000;font-weight: 500;font-size: 14px;}
.headerbox{
    font-size:30px;
    height:70px;
    width: auto;
    border:2px solid #ffffff;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    border: 2px solid #000000;
    margin: 0px 0px 0px 40px;
    height: 40px;
    width:40px;
}

.category{
    margin: 5px 0px 0px 0px;
    font-size:16px;
    border: 2px solid #000000;
    color: #000000;
    height:50px;
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.login{
    margin: 5px 0px 0px 0px;
    border: 2px solid #000000;
    font-size: 17px;
    height:50px;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}
.signup{
    border: 2px; 
}

.register-container{
    display: flex;
    justify-content: center; 
    align-items: center;
    /* height: 100vh;  */
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    
}

.register-form{
   justify-content: center; 
   align-items: center;
   /* height: 100vh; */
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0,0,0.1);
   max-width: 400px;
   width: 100%;
}
.register-form-h2{
    text-align: center;
    margin-bottom: 20px;
}
.register-form label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.register-form input{
    width: 380px;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}
.register-form button{
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

.register-form button:hover{
    background-color: #555;
}
.register-form h3{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}




.myaccount{
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    font-family: Arial,sans-serif;
    margin: 0px 0px 0px -300px;
    
    
}

.firstbox{
    border: 2px solid #fffdfd;
    background-color: #ffffff;
    height: 50%;
    width:99.9%;
    display: flex;
    margin-top: 2%;
    justify-content: space-evenly;
}

.Addpic{
    height:50% ;
    width: 100%;
}

.image{
    border:2px solid #ffffff;
    width: 300px;
    height: 500px;
}

.navitem{
    text-decoration: none;
    color: #ffffff;
}
.navitems{
    text-decoration: none;
    color: #fff;
   font-size: 40px;
   display: flex;
    margin:auto;
}
.navitems1{
    text-decoration: none;
    color: #fff;
   font-size: 25px;
   display: flex;
    margin:auto;`

.navitem:hover{text-decoration: underline;}


.menshirt{
    /* border: 2px solid black;
    height: 50vh;
    width: 100vw; */
    justify-content: space-evenly;
    display: flex; 
}

.shirtbox{
    border: 2px solid black;
    height: 50vh;
    width: 25%;
}
.shirt{
    height: 40vh;
    width: 25%;
}

.productpage{
    display: grid;
    background-color: #ffffff;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 40px;
    row-gap:0px;
    column-gap:0px;
    height: 900px;

    
}
.prodbox{
    background-color: #ffffff;
    height:400px;
    width:319px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}
.prodbox:hover .prodimg{transform: scale(1.1);transition: 0.5s ease-in-out; }

.prodimg{
    height:318px;
    width:100%;
    align-items: center;
    
}
.prodname{
    height: 50px;
    width:auto;
    margin-top: 10px;
    font-size:15px;
    align-self: flex-start;
}
.prodprice{
    height:50px;
    width:50px;margin:1px 260px 0px 0px;
}
.addtocart{
    height:40px;
    width:80px;
    align-items: center;
    margin:0px 0px 0px 220px;   
}
.addtocart:hover{border: 1px;}
.menshirt{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 40px;
    row-gap: 10px;
    column-gap: 20px;
}
.crtpg{
    border: 2px solid rgb(255, 255, 255);
    height: auto;
    width:auto ;
}
.cancel{
    margin: -73px 0px 0px 670px;
}
.crtprodname{
    border: 2px solid rgb(255, 255, 255);
    width: auto;
    margin: -240px 20px 0px 260px;
   
    
}
.crtprodprice{
    border: 2px solid rgb(255, 255, 255);
    width: auto;
    margin: 10px 20px 0px 260px;
}
.crtprodimg{
    border: 2px solid rgb(255, 255, 255);
    height: 250px;
    width: 250px;
}
.crtprodbox{
    border: 2px solid rgb(0, 0, 0); 
    width: 700px;
    height: 260px;
   
   
}

.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  
  min-width: 0;
  outline: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: flex-end;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}